.categoryName {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;

    h2 {
        display: flex;
    }
}

mat-grid-list {
    margin: 20px 20px auto;
}

mat-grid-tile {
    border-radius: 1em;
}

mat-card {
    height: 95%;
    width: 95%;
    border: 1px solid var(--mdc-filled-button-container-color);
    
    mat-card-title{
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    p {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &:hover {
        cursor: pointer;
        box-shadow: 0 0 20px 6px #890f97bc;
        transition: box-shadow 0.5s;
    }

    img {
        width: 100%;
        object-fit: contain;
    }
}