<mat-sidenav-container>
    <mat-sidenav-content>
        <app-nav-bar></app-nav-bar>
        <div class="header-banner" #TopAnchor>
            <div class="filter"></div>
            <div class="inner-text">Hi~</div>
            <div class="fog-low">
                <img src="../../assets/fog-low.png" alt="">
            </div>
            <div class="fog-low right">
                <img src="../../assets/fog-low.png" alt="">
            </div>
            <div class="moving-clouds" style="background-image: url('../../assets/clouds.png'); "></div>
        </div>

        <router-outlet></router-outlet>


    </mat-sidenav-content>
</mat-sidenav-container>