<div class="slider">
    <div class="slide-track" id="slide-track">
        @for (text of TextArray; track text.ID) {
        <div class="card-container" id="card-container">
            <mat-card appearance="outlined" [ngStyle]="{'width.px':carouselWidth,}" (click)="onCardClicked(text.ID)">
                @if (loading) {
                <nz-skeleton [nzActive]="true" [nzAvatar]="true" [nzParagraph]="{ rows: 8 }" style="padding: 5% 0;"></nz-skeleton>
                }@else {
                <mat-card-header>
                    <div mat-card-avatar style="background-size: cover;" [ngStyle]="{'background-image':getUserInfo(text.Uid,'avatar')}"></div>
                    <mat-card-title>{{text.Title}}</mat-card-title>
                    <mat-card-subtitle>{{getUserInfo(text.Uid,"name")}}</mat-card-subtitle>
                </mat-card-header>
                <img [src]="text.Img">
                <mat-card-content>
                    <p>
                        {{text.Desc}}
                    </p>
                </mat-card-content>
                }
            </mat-card>
        </div>
        }
    </div>
</div>