<section class="markdown-body" [style.width]="markdown_width">
    <!-- <img src="https://cdn.jsdelivr.net/gh/Lockheed-stack/new_img_repo@main/Pasted%20image%2020240408171833.png" alt=""> -->
    <!-- src="http://cdn.lee-marcus.one/articles/redis%20upload.md" -->
    <!-- src="https://blog.csdn.net/HELLO_E_SIR/article/details/131819598" -->
    <!-- src="http://cdn.lee-marcus.one/GO%20slice%20-%20upload.md" -->
    @if (markdownData!=="") {
    <markdown ngPreserveWhitespaces emoji katex [data]="markdownData" [disableSanitizer]="true" (load)="onLoad()"
        (ready)="onReady()">
    </markdown>
    }
</section>