<div class="layout">
    <div class="category">
        <mat-grid-list [cols]="categoryBreakPoint" rowHeight="50px" gutterSize="5px" id="category-grid">
            @for (item of categoryInfo; track item.ID) {
            <mat-grid-tile colspan="1" rowspan="1">
                <div class="container" [title]="item.Name">
                    <button mat-button (click)="onCategoryClicked(item.ID)"> {{item.Name}} </button>
                </div>
            </mat-grid-tile>
            }
        </mat-grid-list>
    </div>

    <div class="blog-abstract">
        <mat-grid-list [cols]="blogAbstractBreakPoint" rowHeight="200px" gutterSize="15px" id="grid-list" >
            <mat-grid-tile [colspan]="carouselBreakPoint" rowspan="2" id="carousel-slide">

                <button mat-icon-button style="left: 0;" (click)="onCarouselLeftClicked()">
                    <mat-icon fontIcon="arrow_back_ios_new"></mat-icon>
                </button>
                <button mat-icon-button style="right: 0;" (click)="onCarouselRightClicked()">
                    <mat-icon fontIcon="arrow_forward_ios"></mat-icon>
                </button>

                <app-index-carousel [carouselWidth]="setCarouselWidth" [direction]="orientaion"
                    (indexUpdated)="onCarouselProgressBarUpdated($event)"></app-index-carousel>
                <mat-progress-bar mode="determinate" value="{{progressBarVal}}"></mat-progress-bar>
            </mat-grid-tile>

            @for (item of articlesArray; track item.ID; let idx = $index) {
            <mat-grid-tile [colspan]="2" [rowspan]="1" id="grid-tile-abstract-{{idx}}">
                <mat-card class="example-card" appearance="outlined" (click)="onCardClicked(item.ID)">
                    <mat-card-header>
                            <mat-card-title><span>{{item.Title}}</span></mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
                </mat-card>
                <mat-grid-tile-footer>阅读量:{{item.PageView|number }}</mat-grid-tile-footer>
            </mat-grid-tile>
            }
        </mat-grid-list>
        <button mat-stroked-button id="refresh" [style.top]="refreshBtnTop" (click)="onRefreshBtnClicked()">
            <mat-icon>restart_alt</mat-icon>
            试试手气
        </button>
    </div>
</div>
<app-infinite-carousel></app-infinite-carousel>