<mat-stepper linear #stepper (selectedIndexChange)="onInputChanged('stepper',$event)" class="wrapper">
    <mat-step [stepControl]="updatingForm">
        <ng-template matStepLabel>基本信息</ng-template>
        <div class="edit">
            <form [formGroup]="updatingForm">
                <mat-list>
                    @for (item of EditableFields; track item) {
                    <mat-list-item [lines]="item.lines">
                        <mat-icon matListItemIcon>{{item.icon}}</mat-icon>
                        <div matListItemTitle>{{item.label}}</div>

                        @if (item.formControlName === 'cover') {
                        <div style="display: inline-flex;">
                            <app-upload-img [label]="item.label" [maxImgSize]="150"
                                (imgReady)="onInputChanged(item.formControlName,$event)"></app-upload-img>
                            @if (blogInfo.Img!==undefined) {
                            <img [src]="blogInfo.Img" alt=""
                                style="margin-left: 20px; max-width: 100px; max-height: 100px;">
                            }@else {
                            <img style="margin-left: 20px; max-width: 100px; max-height: 100px;"
                                [src]="BlogCoverPlaceHolder"
                                alt="">
                            }
                        </div>
                        }@else {
                        <mat-form-field>
                            <!-- <mat-label>{{item.label}}</mat-label> -->
                            @switch (item.formControlName) {
                            @case ('desc') {
                            <textarea matInput [formControlName]="item.formControlName" cdkTextareaAutosize
                                cdkAutosizeMinRows="2" (input)="onInputChanged(item.formControlName,$event)"></textarea>
                            }
                            @case ('category') {
                            <mat-select [formControlName]="item.formControlName"
                                (selectionChange)="onInputChanged(item.formControlName,$event)">
                                @if (categoryInfo.length===0) {
                                    <mat-option value="null" disabled="true">{{categoryErrMsg}}</mat-option>
                                }@else {
                                    @for (item of categoryInfo; track item) {
                                        <mat-option [value]="item.ID">{{item.Name}}</mat-option>
                                    }
                                }
                            </mat-select>
                            }
                            @default {
                            <input matInput [formControlName]="item.formControlName"
                                (input)="onInputChanged(item.formControlName,$event)">
                            }
                            }
                            @if (updatingForm.get(item.formControlName).invalid) {
                            <mat-error>{{onInputInvalid(item.formControlName)}}</mat-error>
                            }
                            @if (item.formControlName === 'desc') {
                            <mat-hint>字数{{blogInfo.Desc.length}}/150</mat-hint>
                            }
                        </mat-form-field>
                        }
                    </mat-list-item>
                    }
                </mat-list>
            </form>
        </div>
        <div>
            <button mat-button matStepperPrevious>上一步</button>
            <button mat-button matStepperNext>下一步</button>
        </div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>编辑方式</ng-template>

        <div class="mode">
            <mat-radio-group>
                <mat-radio-button value="1" checked="true" (change)="onInputChanged('url',$event)">
                    <span> 输入新 Markdown URL </span>
                </mat-radio-button>
                <mat-radio-button value="2" (change)="onInputChanged('origin',$event)">
                    <div style="display: flex;align-items: center;">
                        <span> 编辑原有 Markdown </span>
                        <mat-icon [matTooltip]="tooltips" matTooltipHideDelay="3000">help</mat-icon>
                    </div>
                </mat-radio-button>
            </mat-radio-group>
            <div>
                <button mat-button matStepperPrevious>上一步</button>
                <button mat-button matStepperNext>下一步</button>
            </div>
        </div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>修改</ng-template>
        <div class="edit_blog">
            @if (EditMode === 1) {
            <form style="width: 100%;" [formGroup]="updatingForm">
                <mat-form-field style="width: 100%;">
                    <mat-icon matPrefix>link</mat-icon>
                    <mat-label>输入 Markdown URL</mat-label>
                    <input matInput type="url" formControlName="content">
                </mat-form-field>
            </form>
            }@else {
            <div style="display: flex;justify-content: space-around;width: 100%;align-items: center;">
                <h3>
                    <mat-icon [matTooltip]="tooltips" matTooltipHideDelay="3000">help</mat-icon>
                    写点什么吧...
                </h3>
                <h3>Markdown 预览</h3>
            </div>
            <div class="rewrite">
                <div class="write">
                    <textarea (input)="onInputChanged('write',$event)" [value]="BlogMarkdownData"
                        id="writeMarkdown"></textarea>
                </div>
                <div class="preview">
                    <app-edit-markdown (loaded)="onMarkdownLoaded($event)" [data]="BlogMarkdownData"
                        [mode]="schema" [url]="blogInfo.Content"></app-edit-markdown>
                </div>
            </div>
            }
            <div>
                <button mat-button matStepperPrevious>上一步</button>
                <button mat-button (click)="onSubmitBtnClick()" [disabled]="disableSubmitBtn">提交</button>
            </div>
        </div>
    </mat-step>
</mat-stepper>