<div class="container">
	<p>
		Powered By 
	</p>
	<div class="slider">
		<div class="slide-track">
			@for (item of poweredby; track $index) {
				<div class="slide">
					<a [href]="item.site" tabindex="-1" target="_blank">
						<img [src]="item.logo" style="object-fit: scale-down;height: 100px;width: 250px;" alt="" />
					</a>
				</div>
			}
			@for (item of poweredby; track $index) {
				<div class="slide">
					<a [href]="item.site" tabindex="-1" target="_blank">
						<img [src]="item.logo" style="object-fit: scale-down;height: 100px;width: 250px;" alt="" />
					</a>
				</div>
			}
		</div>
	</div>
</div>