<div class="blog_container">
    <div class="blog_info_skeleton">
        <nz-skeleton [nzActive]="true" [nzLoading]="loading">
            @if (blogInfo!==null && userInfo!==null) {
            <div class="blog_info" [ngStyle]="{'flex-direction':blogInfoFlexDirection}">
                
                <app-info-card style="display: flex; width: 100%; align-items: center;justify-content: center;"
                    [ngStyle]="{'flex-direction':blogInfoFlexDirection}"
                    [authorInfoInput]="{username:userInfo.Username ,desc:userInfo.SelfDesc ,avatar:userInfo.Avatar}"
                    [blogInfoInput]="{title:blogInfo.Title ,desc:blogInfo.Desc ,pageview:blogInfo.PageView}"></app-info-card>
            </div>
            <div class="ai_abstract">
                <mat-card appearance="outlined">
                    <mat-card-header>
                        <mat-card-title> <mat-icon>check_circle</mat-icon> AI 摘要 </mat-card-title>
                        <mat-card-subtitle> <mat-icon>warning</mat-icon> AI 摘要仅供参考，不代表作者或本站观点！</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        @if (disableAIAbstractBtn&&AISummarization==="") {
                        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                        }@else if (AISummarization!=="") {
                        <!-- <p>
                            {{AISummarization}}
                        </p> -->
                        <markdown [data]="AISummarization"></markdown>
                        }
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-flat-button extended [disabled]="disableAIAbstractBtn"
                            (click)="onAIAbstractBtnClicked()">
                            <mat-icon>ads_click</mat-icon>
                            试一试
                        </button>
                        @if (AISummarizationResultIcon!=="") {
                        <mat-icon>{{AISummarizationResultIcon}}</mat-icon>
                        }
                    </mat-card-actions>
                </mat-card>
            </div>
            }
        </nz-skeleton>
    </div>
    <hr>
    <div class="blog_body_skeleton">
        <nz-skeleton [nzActive]="true" [nzLoading]="loading">
            @if (markdownURL!=="") {
            <app-blog-markdown (isReady)="markdownReady($event)" [blogURL]="markdownURL"
                (getMarkdownData)="getRawMarkdown($event)"></app-blog-markdown>
            }
        </nz-skeleton>
    </div>

    @if (!loading) {
    <div class="anchor">
        <div class="bookmarkBox" cdkDrag cdkDragBoundary=".blog_container">
            <button mat-fab (click)="onBookMarkClicked()"><mat-icon>bookmark</mat-icon></button>
        </div>
    </div>
    }

</div>
<app-footer></app-footer>


<nz-drawer [nzVisible]="openSidebar" nzPlacement="right" [nzTitle]="drawertitle" [nzClosable]="false"
    [nzExtra]="closebtn" (nzOnClose)="closeBookMark()">
    <ng-container *nzDrawerContent>
        <ul cdkListbox class="example-listbox">
            @for (item of titleArray; track item; let idx = $index) {
            @switch (item.level) {
            @case (1) {
            <li [cdkOption]="idx" class="example-option" style="font-weight: bold;"
                (click)="onBookMarkItemClicked(item.TitleId)">{{item.TitleName}}</li>
            }
            @case (2) {
            <li [cdkOption]="idx" class="example-option" style="margin-left: 20px;"
                (click)="onBookMarkItemClicked(item.TitleId)">{{item.TitleName}}</li>
            }
            @case (3) {
            <li [cdkOption]="idx" class="example-option" style="margin-left: 35px;"
                (click)="onBookMarkItemClicked(item.TitleId)">{{item.TitleName}}</li>
            }
            }
            }
        </ul>
    </ng-container>
</nz-drawer>
<ng-template #drawertitle>
    <h3>
        目录
    </h3>
</ng-template>
<ng-template #closebtn>
    <button mat-icon-button (click)="closeBookMark()">
        <mat-icon>close</mat-icon>
    </button>
</ng-template>