@use "@angular/material" as mat;
@use "styles/theme_6DAE3D" as m3-theme;
@use "styles/ceylon" as markdown;
// @use "./app/nav/layout.component.theme" as layout-theme;
@include mat.core();

// @font-face {
//     // font-family: RobotoMono;
//     // src: url("./styles/fonts/RobotoMono-Regular.ttf");
//     font-family: Fredoka;
//     src: url("./styles/fonts/Fredoka-Regular.ttf");
// }
:root {
    @include mat.all-component-themes(m3-theme.$light-theme);
    @include mat.color-variants-backwards-compatibility(m3-theme.$light-theme);
}

html,
body {
    height: 100%;
    margin: 0;
    // font-family: RobotoMono, "Helvetica Neue", sans-serif;
    font-family: 'Lato', 'Roboto', "Helvetica Neue", sans-serif;
}

body.darkMode {
    @include mat.all-component-colors(m3-theme.$dark-theme);
    @include mat.color-variants-backwards-compatibility(m3-theme.$dark-theme);

    blockquote{
        background-color: #1b2a3c;
    }
}

// customer style
.markdown-body {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word;
    img {
        max-width: 100%;
        border-radius: 0.5em;
        box-sizing: content-box;
    }

    @include markdown.ceylon;

}

.ant-drawer-wrapper-body {
    background: var(--mat-app-background-color);
    color: var(--mat-app-text-color);

    .ant-drawer-title {
        color: var(--mat-app-text-color);
    }
}

.dialog-class-login {
    .mat-mdc-dialog-surface {
        background: linear-gradient(45deg, #FAB2FF 10%, #1904E5 100%);
        background-size: cover;
        background-repeat: no-repeat;

    }
}

mat-tooltip-component {
    white-space: pre-line;
}

/* Importing Bootstrap SCSS file. */
// @import 'bootstrap/scss/bootstrap';