<mat-toolbar class="toolbar">
    <span>My App</span>
    <span class="example-spacer"></span>


    @if (avatarURL!=='') {
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <img mat-card-avatar [src]="avatarURL" alt="">
    </button>
    <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item (click)="onManageBtnClicked()">
          <mat-icon>manage_accounts</mat-icon>
          <span>个人中心</span>
        </button>
        <button mat-menu-item (click)="onLogoutBtnClicked()">
          <mat-icon>logout</mat-icon>
          <span>退出登录</span>
        </button>
      </mat-menu>
    }@else {
    <button mat-icon-button (click)="openLoginDialog()">
        <mat-icon>person</mat-icon>
    </button>
    }


    <button mat-icon-button>
        <a routerLink="/">
            <mat-icon>home</mat-icon>
        </a>
    </button>
    <button mat-icon-button>
        <mat-icon>share</mat-icon>
    </button>
    <button mat-icon-button (click)="toggleTheme()" color="warn">
        <mat-icon> {{theme}} </mat-icon>
    </button>
</mat-toolbar>